* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-size: 100%;
}

h1 {
	margin: 40px;
	font-size: 1.75em;
	text-align: center;
}

.content{
	width: 100%;
	float: left;
}

.col{
	width: 95%;
	margin: 10px;
	background-color: grey;
	border: 2px solid #000;
}

.title {
	font-size: 1.25em;
	font-weight: bold;
	border: 2px solid #000;
}

.one{
	background-color: green;
}

.two{
	background-color: yellow;
}

.three{
	background-color: red;
}

@media (min-width: 992px) {
	.content{
		width: 33.33%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.row-1, .row-2 {
		width: 50%;
	}
	.row-3 {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.content {
		width: 100%;
	}
}
